body {
  font-family: 'Helvetica Neue', sans-serif;
  background: #1b1a2a;
  background: linear-gradient(90deg, rgba(61, 87, 92, 1) 0, #454454 100%)
}

a {
  color: #2c82c9;
  text-decoration: none
}

main {
  padding: 20px
}

main h1 {
  font-size: 36px;
  margin: 0 0 20px 0
}

main p {
  font-size: 18px;
  line-height: 1.5;
  margin: 0 0 20px 0
}

footer {
  background-color: #2e2d2d;
  color: #fff;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: left;
  font-size: 13px
}

footer p {
  font-size: 18px;
  margin: 0
}

* {
  box-sizing: border-box
}

.bg {
  background-image: url(tempbg.png);
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}

.bg-text {
  background-color: #000;
  background-color: rgba(0, 0, 0, .4);
  color: #fff;
  font-weight: 700;
  border: 3px solid #f1f1f1;
  margin: 5px auto;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  padding: 20px;
  text-align: center
}

.bg-form {
  background-color: #000;
  background-color: rgba(0, 0, 0, .4);
  color: #fff;
  font-weight: 700;
  border: 3px solid #f1f1f1;
  margin: 5px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  padding: 20px;
  text-align: center
}

.chart-container {
  position: relative;
  margin: auto;
  height: 80vh;
  width: 80vw
}