:root {
    /* Mobile - Default */
    --bg-form-padding: 3px;
    --about-text-padding: 3px;
    --p-size: 12px;
    --label-size: 12px;
    --h1-size: 16px;
    --footer-size: 10px;
    --background-gradient: linear-gradient(90deg, rgba(61, 87, 92, 1) 0, #454454 100%);
    --link-color: #2c82c9;
    font-family: 'Helvetica Neue', sans-serif;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    background: #1b1a2a;
    background: var(--background-gradient);
    margin: 0;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

main {
    padding: 10%;
}

.footy {
    background-color: #2e2d2d;
    color: #fff;
    padding: 1%;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left;
    font-size: var(--footer-size);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
}

* {
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    gap: 2vw;
    grid-auto-rows: minmax(100px, auto);
    text-align: center;
    color: #fff;
    margin-top: 30px;
    min-height: 100vh;
    /* background-color: rgba(0, 0, 0, .4); */
}

.submit-button {
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 15px;
    border-radius: 10px;
    border: 2px solid #000;
    max-width: 150px;
    width: 100%;
    font-size: 16px;
}

.about-text {
    background-color: rgba(0, 0, 0, .4);
    border: 3px solid #f1f1f1;
    grid-column: 1;
    grid-row: 1;
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
    height: fit-content;
    padding: var(--about-text-padding);
}

.bg-form {
    background-color: rgba(0, 0, 0, .4);
    border: 3px solid #f1f1f1;
    grid-column: 1;
    grid-row: 2;
    font-weight: 400;
    width: auto;
    margin: 0 auto;
    border-radius: 10px;
    padding: var(--bg-form-padding);
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.chart-container {
    position: relative;
    margin: auto;
    height: 80vh;
    width: 80vw;
}

p {
    font-size: var(--p-size);
    line-height: 1.5;
    margin: 0 0 1rem 0
}

label {
    font-size: var(--label-size);
}

h1 {
    font-size: var(--h1-size);
    margin: 0 0 1rem 0
}

/* Tablet */
@media (min-width:600px) {
    :root {
        --bg-form-padding: 15px;
        --about-text-padding: 10px;
        --p-size: 14px;
        --label-size: 14px;
        --h1-size: 18px;
        --footer-size: 15px;
    }
}

/* Desktop */
@media (min-width:900px) {
    :root {
        --bg-form-padding: 24px;
        --about-text-padding: 12px;
        --p-size: 16px;
        --label-size: 18px;
        --h1-size: 30px;
        --footer-size: 18px;
    }
}