:root {
    /* Mobile - Default */
    --bg-form-padding: 3px;
    --about-text-padding: 3px;
    --p-size: 12px;
    --label-size: 12px;
    --h1-size: 16px;
    --footer-size: 10px;
    --font-color: white;
    --background-color: #2b323c;
    --container-color: #526d82c5;
    
    /* --background-gradient-webkit: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    --background-gradient: linear-gradient(to right, #2C5364, #203A43, #0F2027); */
    --link-color: #2c82c9;
    font-family: 'Helvetica Neue', sans-serif;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    background: var(--background-color);
    /* background: var(--background-gradient-webkit);
    background: var(--background-gradient); */
    margin: 0;
    transition: background 0.2s linear;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body.dark {
    --background-color: #ffcab0;
    --container-color: #fdffcd;
    --font-color: #484b6a;
    /* --background-gradient-webkit: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
    --background-gradient: linear-gradient(to right, #eef2f3, #8e9eab); */

}

a {
    color: var(--link-color);
    text-decoration: none;
}

main {
    padding: 10%;
}

nav ul {
    font-size: var(--p-size);
    list-style-type: none;
    padding: 0;
    text-align: center;
    width: auto;
    margin-left: 50px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--font-color);
}

nav ul li a:hover {
    text-decoration: underline;
}

* {
    box-sizing: border-box;
}

.wrapper {
    /* display: grid;
    gap: 2vw;
    grid-auto-rows: minmax(100px, auto); */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    flex-grow: 1; /* Allow .wrapper to grow and occupy remaining space */
    row-gap: 100px;
    text-align: center;
    color: var(--font-color);
    margin-top: 30px;
    /* min-height: 100vh; */
    /* background-color: rgba(0, 0, 0, .4); */
}

.wrapper-changelog {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    flex-grow: 1; /* Allow .wrapper to grow and occupy remaining space */
    row-gap: 20px;
    text-align: center;
    color: var(--font-color);
    margin-top: 30px;
}

.submit-button {
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 15px;
    border-radius: 10px;
    border: 2px solid #000;
    max-width: 150px;
    width: 100%;
    font-size: 16px;
}

.about-text {
    background-color: var(--container-color);
    grid-column: 1;
    grid-row: 1;
    width: 70%;
    margin: 0 auto;
    border-radius: 5px;
    height: fit-content;
    padding: var(--about-text-padding);
}

.bg-form {
    background-color: var(--container-color);
    /* grid-column: 1;
    grid-row: 2; */
    font-weight: 400;
    width: auto;
    margin: 0 auto;
    border-radius: 5px;
    padding: var(--bg-form-padding);
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.chart-container {
    position: relative;
    margin: auto;
    height: 80vh;
    width: 80vw;
}


.footy {
    background-color: #2e2d2d;
    color: white;
    padding: 1%;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left;
    font-size: var(--footer-size);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-top: -200px; */
    align-self: flex-end;
    flex-shrink: 0;
}

p {
    font-size: var(--p-size);
    line-height: 1.5;
    margin: 0 0 1rem 0
}

label {
    font-size: var(--label-size);
}

h1 {
    font-size: var(--h1-size);
    margin: 0 0 1rem 0
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.default-card {
    background-color: var(--container-color);
    padding: 20px;
    margin-top: 20px;
}

.changelog-split-row {
    content: "";
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-container {
    width: 100%;
    max-width: fit-content;
    margin: 0 auto;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.responsive-image {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
    transform: translateX(24px);
}

/* Tablet */
@media (min-width:600px) {
    :root {
        --bg-form-padding: 15px;
        --about-text-padding: 10px;
        --p-size: 14px;
        --label-size: 14px;
        --h1-size: 18px;
        --footer-size: 15px;
    }
}

/* Desktop */
@media (min-width:900px) {
    :root {
        --bg-form-padding: 24px;
        --about-text-padding: 12px;
        --p-size: 16px;
        --label-size: 18px;
        --h1-size: 30px;
        --footer-size: 18px;
    }
}